/* general */
* {
  font-family: Koho, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* grids */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* flexbox */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.box {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--dark-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color:var(--text-color);
}

.bg-mid,
.btn-mid {
  background-color: var(--mid-color);
  color:var(--text-color);
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color:var(--dark-text-color);
}

.text-center {
  text-align: center;
}

.margin-top-bottom-2 {
  margin: 2rem 0;
}

.margin-top-bottom-4 {
  margin: 4rem 0;
}

.medium {
  font-size: 2rem;
}

.padding-4 {
  padding: 4rem;
}